.cartoes {
    margin-top:10px;
    border: #cdcdcd medium solid;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.panel-clube {
    /* Bahia */
    border-color: #0073b7;
}

.panel-clube > .panel-heading {
    color: #ffffff;
    /* Bahia */
    background-color: #0073b7;
    border-color: #0073b7;
}

.bg-clube-active,
.modal-danger .modal-header,
.modal-danger .modal-footer {
    /* Bahia */
    background-color: #0073b7 !important;
    color: #ffffff;

}