.cartoes {
    margin-top:10px;
    border: #cdcdcd medium solid;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.panel-clube {
    /* Palmeiras */
    border-color: #00A65A;
}

.panel-clube > .panel-heading {
    color: #ffffff;
    /* Palmeiras */
    background-color: #00A65A;
    border-color: #00A65A;
}

.bg-clube-active,
.modal-danger .modal-header,
.modal-danger .modal-footer {
    /* Palmeiras */
    background-color: #00A65A !important;
    color: #ffffff;

}